@import 'assets/variables';

.knives-list {
  display: grid;
  row-gap: 1rem;
  margin-right: $knives-margin;

  &--original-finishes {
    grid-template-columns: repeat(13, 1fr);
  }

  &--other-finishes {
    grid-template-columns: repeat(7, 1fr);
  }
}
