.list {
  flex: 1;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #ffffff8c;
    transition: 0.25s all;
    cursor: pointer;

    &:hover {
      color: #ffffffd5;
      transform: scale(1.15);
      filter: drop-shadow(0 8px 15px #36e9a1a1);
    }
  }
}

.case {
  margin: 2.25rem 0.5rem;

  &__image {
    width: 130px;
    margin-bottom: 0.25rem;
  }
}

.knife {
  margin-right: -44px;

  &__image {
    width: 100%;
  }
}
