@import 'assets/variables';

.list {
  padding: 0.75rem;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.knives-list {
  display: grid;
  row-gap: 1rem;
  margin-right: $knives-margin;

  &--original-finishes {
    grid-template-columns: repeat(13, 1fr);
  }

  &--other-finishes {
    grid-template-columns: repeat(7, 1fr);
  }
}

.gloves-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
