@import 'assets/variables';

.main {
  &__container {
    min-height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;
    background-color: #2d303d;
  }
}

.list {
  &--hidden {
    display: none !important;
  }

  &__item {
    font-size: 0.8rem;
    color: #ffffff8c;
    transition: 0.25s all;
    position: relative;

    &:hover {
      color: #ffffffd5;
      transform: scale(1.15);
      filter: drop-shadow(0 8px 15px #36e9a1a1);
      z-index: 1;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
