@import 'assets/variables';

.main {
  &__container {
    min-height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;
    background-color: #2d303d;
  }
}

.list {
  padding: 0.75rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #ffffff8c;
    transition: 0.25s all;
    cursor: pointer;
    position: relative;

    &:hover {
      color: #ffffffd5;
      transform: scale(1.15);
      filter: drop-shadow(0 8px 15px #36e9a1a1);
    }
  }
}
