@import 'assets/variables';

.item {
  &__image {
    width: 100%;
    max-width: 150px;
  }

  &__text {
    text-align: center;
    position: absolute;
    bottom: 0;
  }

  &__name,
  &__skin {
    display: block;
  }
}

.knife {
  margin-right: -$knives-margin;

  &--vanilla &__skin,
  &:not(&--vanilla) &__name {
    display: none;
  }
}
