@import 'assets/variables';

.item {
  &__image {
    width: 100%;
  }

  &__text {
    text-align: center;

    @include sm {
      font-size: 0.6rem;
    }
  }

  &__name,
  &__skin {
    display: block;
  }
}

.knife {
  margin-right: -$knives-margin;

  @include lg {
    margin-right: -$knives-lg-margin;
  }

  &__image {
    max-width: 150px;
  }

  &__text {
    @include negativeTop(1.5rem);
    width: 62%;
  }

  &--vanilla &__skin,
  &:not(&--vanilla) &__name {
    display: none;
  }
}

.gloves {
  &__image {
    max-width: 140px;
  }

  &__text {
    @include negativeTop(1.4rem);
  }

  &--short &__text {
    @include negativeTop(2rem);
  }

  $first-in-row: '&:nth-child(4n + 1)';
  &:not(#{$first-in-row}) &__name {
    display: none;
  }
}
