@import 'assets/variables';

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #ffffff8c;
  transition: 0.25s all;
  cursor: pointer;
  position: relative;

  &:hover {
    color: #ffffffd5;
    transform: scale(1.15);
    filter: drop-shadow(0 8px 15px #36e9a1a1);
  }

  &__image {
    width: 100%;
  }
}

.case {
  margin: 2.25rem 0.5rem;

  &__image {
    max-width: 130px;
    margin-bottom: 0.25rem;
  }
}

.knife,
.gloves {
  &__image {
    max-width: 150px;
  }

  &__text {
    // position: absolute;
  }
}

.knife {
  margin-right: -$knives-margin;

  &__text {
    bottom: 0;
  }

  &--vanilla &__skin,
  &:not(&--vanilla) &__name {
    display: none;
  }
}

.gloves {
  &__name {
    bottom: 13%;
    // left: 0;
  }

  &__skin {
    bottom: 3%;
    // left: 0;
  }

  // &--vanilla &__name {
  //   left: 0;
  // }

  &:not(&--vanilla) &__name {
    display: none;
  }
}
