@import 'assets/variables';

.items-list {
  display: grid;
}

.knives-list {
  margin-right: $knives-margin;

  @include lg {
    margin-right: $knives-lg-margin;
    grid-auto-flow: column;
  }

  &--original-finishes {
    @include grid(13);
  }

  &--other-finishes {
    @include grid(7);
  }
}

.gloves-list {
  grid-template-columns: repeat(4, 1fr);
}
