@import 'assets/variables';

.items-list {
  padding: 3rem 0;
  display: grid;
  align-items: center;
}

.knives-list {
  margin-right: $knives-margin;

  &--original-finishes {
    grid-template-columns: repeat(13, 1fr);
  }

  &--other-finishes {
    grid-template-columns: repeat(7, 1fr);
  }
}

.gloves-list {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
}
