@import 'assets/variables';

.case {
  width: 130px;
  margin: $case-vertical-margin $case-horizontal-margin;

  &__image {
    width: 100%;
    margin-bottom: 0.25rem;
  }

  &__name {
    text-align: center;
  }
}
