$header-height: 75px;
$knives-margin: 3rem;
$knives-lg-margin: 1.5rem;

@mixin sm {
  @media screen and (max-width: 479px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin rwd($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin highlight {
  filter: drop-shadow(0 8px 15px #36e9a1a1);
}

@mixin transition {
  transition: 0.25s all;
}

@mixin grid($num) {
  grid-template: auto / repeat($num, 1fr);

  @include lg {
    grid-template: repeat($num, 1fr) / auto;
  }
}

@mixin negativeTop($margin) {
  $negativeMargin: -$margin;
  margin-top: $negativeMargin;

  @include sm {
    margin-top: $negativeMargin + 0.75;
  }
}
